<h3>Movies</h3>
<% if @movies.blank? %>
  <div class="container">
    <h3>You haven't written any movie notes yet.<h3>
  </div>
<% else %>
  <div id="movies" class="row">
    <div class="movies-shows-container">
      <%= render partial: "movies/movie", collection: @movies %>
    </div>
  </div>
<% end %>

<h3>TV shows </h3>
<% if @tv_shows.blank? %>
  <div class="container">
    <h3>ou haven't written any TV notes yet.<h3>
  </div>
<% else %>
  <div id="tv-shows" class="row">
    <div class="movies-shows-container">
      <%= render partial: "tv_shows/tv_show", collection: @tv_shows %>
    </div>
  </div>
<% end %>
