<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#test1">Movies</a></li>
      <li class="tab col s6"><a href="#test2">TV Shows</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <div class="movies-shows-container">
      <% if @movies.blank? %>
        <div class="container">
          <center><h4>You haven't written any movie notes yet.<h4></center>
        </div>
      <% else %>
        <div id="movies" class="row">
          <div class="movies-shows-container">
            <%= render partial: "movies/movie", collection: @movies %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="test2" class="col s12">
    <div class="movies-shows-container">
      <% if @tv_shows.blank? %>
        <div class="container">
          <center><h4>You haven't written any TV notes yet.<h4></center>
        </div>
      <% else %>
        <div id="tv-shows" class="row">
          <div class="movies-shows-container">
            <%= render partial: "tv_shows/tv_show", collection: @tv_shows %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
