<div class="container"><h1>Review it.</h1></div>

<div class="container">
  <div class="jumbotron" style="border: 2px solid grey;">
    <center><h3>Watched something and want to note what you thought?</h3></center>
    <center><a type="button" class="btn btn-success btn-lg" href="#">Write a new Review.</a></center>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <h3 class="text-center">Start making a list of what you have seen!</h3>
      <p><center><%= link_to "Get Started.", root_path, class: 'btn btn-success' %></center></p>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
