<div class="container"><h1>Review it.</h1></div>

<div class="container">
  <div class="jumbotron" style="border: 2px solid grey;">
    <center><h3>Watched something and want to note what you thought?</h3></center>
    <center><a type="button" class="btn btn-success btn-lg" href="#">Write a new Review.</a></center>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <% if user_signed_in? %>
        <h3 class="text-left">Latest Reviews</h3>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      <% else %>
        <h3 class="text-center">Start making a list of what you have seen!</h3>
        <p><center><%= link_to "Get Started.", root_path, class: 'btn btn-success' %></center></p>
      <% end %>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
