/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0px;
  background-color: #0A323F;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}
body {
  background-color: #666A73;
}

h1 {
  color: #2E353D;
}

a {
  color: #BAC5E0;
}

// Jumbotron
.jumbotron {
  color: #898E8F;
  border-radius: 0px;
  border: 5px solid #0A323F;
  background-color: #2E353D;
  -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
}

// Search Bar
#search_box {
  margin: auto;
  margin-bottom: 10px;
  input[type="text"], textarea {
    height: 30px;
    width: 280px;
    text-align: center;
    font-size: 12pt;
    color: #BAC5E0;
    background-color : #666A73;
    border: 0px;
    border-color: #0A323F;
    -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);

}
}

#search_btn .btn-info {
  color: #898E8F;
  border: 2px solid #898E8F;
  background-color: #0A323F;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
}

/* Info Cards */
/* Colors */
.card {
  position: relative;
  margin-top: 20px;
  height: 239px;
  width: 300px;
  background-color: #2E353D;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
}

.card_header {
  margin-bottom: 4px;
  padding: 8px;
  height: 35px;
  width: 300px;
  background-color: #0A323F;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}

.card_header h4 {
  margin-top: 0;
  height: 20px;
  color: #BAC5E0;
  overflow: hidden;
    a {
      color: #898E8F;
    }
}

.thumb {
  float: left;
  width: 34%;
  height: 100%;
}

.thumb img {
  opacity: 0.75;
  width: 100px;
  height: 150px;
}

#addit {
  width: 34%;
  position: absolute;
  bottom: 0px;
  left: 0px;

  .btn-info {
    color: #898E8F;
    background-color: #0A323F;
    border: 1px solid #898E8F;
    border-radius: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 5px;

  }
}

#year {
  color: #898E8F;
  font-size: 10pt;
  text-align: center;
}

.info {
  color: #898E8F;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  float: right;
  height: 200px;
  width: 65%;
  overflow: hidden;
}

// Detail Page
.details {
  background-color: #2E353D;
  height: auto;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
}

.details_header {
  clear: right;
  min-height: 30px;
  background-color: #0A323F;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);

  h3 {
    color: #BAC5E0;
    padding: 6px;
    min-width: 200px;
  }

  h4 {
    color: #BAC5E0;
  }
  #header_year {
    font-size: 16px;
    margin: 8px;
    color: #898E8F;
  }
}

.poster {
  float:left;

  img {
    opacity: 0.75;
    width: 100%;
    height: 100%;
  }
}

.details_left {
  float: left;
  height: auto;
  width: 30%;
}

.details_info {
  color: #898E8F;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 25px;
  margin-bottom: 10px;
  width: 70%;
  float:right;

  .more_info {
    font-size: 14px;
    border-top: 2px solid #898E8F;
    border-bottom: 2px solid #898E8F;
    padding-top: 10px;
    margin-top: 5px;
    margin-right: 5px;

    .label {
      color: #898E8F;
      background-color: #0A323F;
    }
  }
}

#tagline {
  color: #BAC5E0;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  clear: left;
}

#drop_shadow {
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}
// Note Section

.note {
  color: #898E8F;
}

.note-field {
  .btn-info {
    font-size: 18px;
    border: 1px solid #898E8F;
    border-radius: 0px;
    padding-top: px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
