/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0px;
  background-color: #0A323F;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}
body {
  background-image: url("WhiteWeave.png");
  background-size: 100px;
  background-attachment: fixed;
  background-color: #666A73;
}

h1 {
  color: #2E353D;
}

a {
  color: #BAC5E0;
}

.banner {
  color: #898E8F;
  width: 100%;
  position: absolute;
  left: 0;
}

#bar {
  padding: 10px;
  margin: auto;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #2E353D;
  height: auto;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.75);
}

// Info Cards
.box {

    img {
    max-width: 200px;
    height: auto;
  }

  width: 200px; height: 300px;
  position: relative;
  background: transparent;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
  left: 200px;

  span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F79E05 0%, #8F5408 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }

  span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F5408;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F5408;
  }

  span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F5408;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F5408;
  }
}

.card_wrapper {
  position: relative;

  .card {
    margin: 20px;
    max-width: 250px;
    height: 410px;
    overflow: hidden;
    background-color: #2E353D;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);

    img {
      padding: 5px;
      max-width: 250px;
      height: 370px;
    }
  }

  .card_content {
    color: #BAC5E0;
    background-color: rgba(255,255,255,0.0);
    position: relative;
    bottom: 10px;
    height: 410px;
    padding-top: 7px;

    transition: all 1.0s ease;
  }

  .card_content_header {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -20px;
    width: auto;
    text-align: center;

    h3 {
      font-size: 17px;
    }
  }

  .card_content_year {
    font-size: 12px;
    color: #898E8F;
  }

  .card_content_info {
    width: 100%;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 2px solid #BAC5E0;
    position: absolute;
    top: 50px;
  }

  .card:hover .card_content {
    background-color: rgba(0,0,0,0.7);
    bottom: 370px;
  }

  .card_content_footer {
    padding: 6px;
    font-size: 15pt;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 318px;
    left: 0px;
    text-align: center;
    background-color: #0A323F;
  }

}

// New flex design
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 5px;
  flex: 1 100%;
}

.header {
  font-weight: normal;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.4);

  #title {
    color: #BAC5E0;
    font-size: 22pt;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #year {
    color: #898E8F;
    font-size: 60%;
  }
}

.main {
  color: #898E8F;
  text-align: left;
  display: inherit;
  background-color: rgba(0,0,0,0.4);
  min-width: 40%; /* threw this in as a slight fix */

  #description {
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
    height: auto;
  }
}

.aside-1 {
  background-color: rgba(0,0,0,0.4);
  color: #BAC5E0;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  display: inherit;

  #poster-section {
    background-color: rgba(0,0,0,0.7);
  }

  img {
    max-width: 250px;
    margin: 5px;
  }

  #tagline {
    padding: 0px 5px 10px 5px;
    max-width: 250px;
    margin: auto;
  }
}

.aside-2 {
  background-color: rgba(0,0,0,0.4);

  .note-toggle {
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
  }
}

@media all and (min-width: 600px) {
  .aside { flex: 0 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.footer {
  background-color: transparent;
  padding: 0px;
}

.shared-note {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  .shared-note-wrapper {
    width: fit-content;
    max-width: 300px;
    padding: 5px;
    margin: 5px;
    display: table;
    flex-direction: column;
    font-weight: normal;
    color: #898E8F;
    background-color: rgba(0,0,0,0.4);

    #shared-note-header {
      padding: 5px;
      text-align: left;
      background-color: rgba(0,0,0,0.7);
    }

    #shared-note {
      padding: 0px 5px 0px 5px;
      text-align: justify;
      background-color: rgba(0,0,0,0.7);

    }

    #shared-note-footer {
      padding: 5px;
      text-align: right;
      background-color: rgba(0,0,0,0.7);

    }
  }
}

// Note Section
.note {
}

// Note toggle
.note-field {
  .btn-info {
    font-size: 18px;
    border: 1px solid #898E8F;
    border-radius: 0px;
    padding-top: px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Main Footer
.main_footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: #0A323F;
  border-top: 1px solid #090909;
  padding: 5px;
  clear: both;

  .links {
    color: #898E8F;
    text-align: center;
    font-size: 14px;

    a {
      color: #898E8F;
      text-decoration: underline;
    }
  }

  .credits {
    color: #898E8F;
    text-align: center;
    font-size: 12px;

    img {
      width: 150px;
    }
  }
}

// Nav Tab on Movie Index
.nav-tabs {
  font-size: 18px;
  background-color: #2E353D;

  .tab-content {
  }

  li.active > a,
  li.active > a:hover,
  li.active > a:focus{
            color: #9d9d9d;
            background-color: #0A323F;
            border-radius: 0;
          }
  li > a {
    color: #9d9d9d;
    border-radius: 0;
  }

  li > a:hover {
    background-color: #0A323F !important;
      border-radius: 0;
      color: #9d9d9d;
    }
}

.movies-shows-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.outside-container{
  min-height: calc(100vh - 185px);
}
