/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0px;
  background-color: #0A323F;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}
body {
  background-color: #666A73;
}

h1 {
  color: #2E353D;
}

a {
  color: #BAC5E0;
}

// Jumbotron
.jumbotron {
  color: #898E8F;
  border-radius: 0px;
  border: 5px solid #0A323F;
  background-color: #2E353D;
  -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
}

// Search Bar
#search_box {
  margin: auto;
  margin-bottom: 10px;
  input[type="text"], textarea {
    height: 30px;
    width: 280px;
    text-align: center;
    font-size: 12pt;
    color: #BAC5E0;
    background-color : #666A73;
    border: 0px;
    border-color: #0A323F;
    -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);

}
}

#search_btn .btn-info {
  color: #898E8F;
  border: 2px solid #898E8F;
  background-color: #0A323F;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
}

/* Info Cards */
/* Colors */
.card {
  position: relative;
  margin-top: 20px;
  height: 239px;
  width: 300px;
  background-color: #2E353D;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
}

.card_header {
  margin-bottom: 4px;
  padding: 8px;
  height: 35px;
  width: 300px;
  background-color: #0A323F;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}

.card_header h4 {
  margin-top: 0;
  height: 20px;
  color: #BAC5E0;
  overflow: hidden;
    a {
      color: #898E8F;
    }
}

.thumb {
  float: left;
  width: 34%;
  height: 100%;
}

.thumb img {
  opacity: 0.75;
  width: 100px;
  height: 150px;
}

#addit {
  width: 34%;
  position: absolute;
  bottom: 0px;
  left: 0px;

  .btn-info {
    color: #898E8F;
    background-color: #0A323F;
    border: 1px solid #898E8F;
    border-radius: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 5px;

  }
}

#year {
  color: #898E8F;
  font-size: 10pt;
  text-align: center;
}

.info {
  color: #898E8F;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  float: right;
  height: 200px;
  width: 65%;
  overflow: hidden;
}


// New card design
.box {

    img {
    max-width: 200px;
    height: auto;
  }

  width: 200px; height: 300px;
  position: relative;
  background: transparent;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
  left: 200px;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #8F5408 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}

.cat-card_wrapper {
  position: relative;
}

.cat-card {
  margin: 20px;
  max-width: 250px;
  height: 410px;
  overflow: hidden;
  background-color: #2E353D;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.75);

  img {
    padding: 5px;
    max-width: 250px;
    height: 370px;
  }
}

.cat-card_content {
  color: #BAC5E0;
  background-color: rgba(255,255,255,0.0);
  position: relative;
  bottom: 10px;
  height: 410px;
  padding-top: 7px;

  transition: all 1.0s ease;
}

.cat-card_content_header {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -20px;
  width: auto;
  text-align: center;

  h3 {
    font-size: 17px;
  }
}

.cat_card_content_year {
  font-size: 12px;
  color: #898E8F;
}

.cat_card_content_date {
  top: -6px;
  position: relative;
  font-size: 10pt;
  text-align: center;
}

.cat_card_content_info {
  width: 100%;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 2px solid #BAC5E0;
  position: absolute;
  top: 50px;
}

.cat-card:hover .cat-card_content {
  background-color: rgba(0,0,0,0.7);
  bottom: 370px;
}

.cat_card_content_footer {
  padding: 6px;
  font-size: 15pt;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 318px;
  left: 0px;
  text-align: center;
  background-color: #0A323F;
}


// Detail Page
.details {
  background-color: #2E353D;
  height: auto;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 0px 21px 1px rgba(5,5,5,0.4);
}

.details_header {
  clear: right;
  min-height: 30px;
  background-color: #0A323F;
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);

  h3 {
    color: #BAC5E0;
    padding: 6px;
    min-width: 200px;
  }

  h4 {
    color: #BAC5E0;
  }
  #header_year {
    font-size: 16px;
    margin: 8px;
    color: #898E8F;
  }
}

.poster {
  float:left;

  img {
    opacity: 0.75;
    width: 100%;
    height: 100%;
  }
}

.details_left {
  float: left;
  height: auto;
  width: 30%;
}

.details_info {
  color: #898E8F;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 25px;
  margin-bottom: 10px;
  width: 70%;
  float:right;

  .more_info {
    font-size: 14px;
    border-top: 2px solid #898E8F;
    border-bottom: 2px solid #898E8F;
    padding-top: 10px;
    margin-top: 5px;
    margin-right: 5px;

    .label {
      color: #898E8F;
      background-color: #0A323F;
    }
  }
}

#tagline {
  color: #BAC5E0;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  clear: left;
}

#drop_shadow {
  -webkit-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: 0px 5px 5px rgba(5,5,5,0.4);
}
// Note Section

.note {
  color: #898E8F;
}

.note-field {
  .btn-info {
    font-size: 18px;
    border: 1px solid #898E8F;
    border-radius: 0px;
    padding-top: px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: #0A323F;
  border-top: 1px solid #090909;
  padding: 5px;
  clear: both;

  .links {
    color: #898E8F;
    text-align: center;
    font-size: 14px;

    a {
      color: #898E8F;
    }
  }

  .credits {
    color: #898E8F;
    text-align: center;
    font-size: 12px;

    img {
      width: 150px;
    }
  }
}
