// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// New flex design
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 5px;
  flex: 1 100%;
}

.header {
  font-weight: normal;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.4);

  #title {
    color: #BAC5E0;
    font-size: 22pt;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #year {
    color: #898E8F;
    font-size: 60%;
  }
}

article.main {
  color: #898E8F;
  text-align: left;
  display: inherit;
  background-color: rgba(0,0,0,0.4);
  min-width: 40%; /* threw this in as a slight fix */
  flex-grow: 20;

  #description {
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
    height: auto;
  }

  .label {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1px;
    border-radius: 2px;
    font-weight: normal;
  }
}

aside.aside-1 {
  background-color: rgba(0,0,0,0.4);
  color: #BAC5E0;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  flex-grow: 1;

  #poster-section {
    background-color: rgba(0,0,0,0.7);
  }

  img {
    max-width: 250px;
    margin: 5px;
  }

  #tagline {
    padding: 0px 5px 10px 5px;
    max-width: 250px;
    margin: auto;
  }
}

aside.aside-2 {
  background-color: rgba(0,0,0,0.4);
  flex-grow: 50;

  .note-toggle {
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
  }
}

// Note Section
.note {

    padding: 5px;
    background-color: rgba(0,0,0,0.7);
  .materialize-textarea {
    color: #898E8F;
    min-height: 0px;
    padding: 0.6rem 0;
    margin-bottom: 0px;
  }

  #input_text {
    color: #898E8F;
    margin-bottom: 0px;
  }

  #label-align {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}

@media all and (min-width: 600px) {
  .aside { flex: 0 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.footer {
  background-color: transparent;
  padding: 0px;

  #footer-header {
    padding: 5px;
    margin-top: 5px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.4);

    #title {
      color: #BAC5E0;
      font-size: 13pt;
      background-color: rgba(0, 0, 0, 0.7);

      #click {
        color: #898E8F;
        font-size: 75%;
      }
    }
  }
}

.shared-note {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  .shared-note-wrapper {
    width: fit-content;
    max-width: 300px;
    padding: 5px;
    margin: 5px;
    display: table;
    flex-direction: column;
    font-weight: normal;
    color: #898E8F;
    background-color: rgba(0,0,0,0.4);

    #shared-note-header {
      padding: 5px;
      text-align: left;
      background-color: rgba(0,0,0,0.7);
    }

    #shared-note {
      padding: 0px 5px 0px 5px;
      text-align: justify;
      background-color: rgba(0,0,0,0.7);

    }

    #shared-note-footer {
      padding: 5px;
      text-align: right;
      background-color: rgba(0,0,0,0.7);

    }
  }
}
