// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Jumbotron
.jumbotron {
  color: #898E8F;
  border-radius: 0px;
  border: 5px solid rgba(0, 55, 64, 0.69);
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
  -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
  box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
}

// Search Bar
.search {
  margin: 15px;

  #search_box {
    margin: auto;
    margin-bottom: 10px;
      input[type="text"], textarea {
        height: 30px;
        width: 280px;
        text-align: center;
        font-size: 12pt;
        color: #BAC5E0;
        background-color: rgba(0, 55, 64, 0.69);
        border: 0px;
        border-color: #0A323F;
        -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
        -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
        box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    }
  }

  #search_btn .btn-info {
    color: #898E8F;
    border: 2px solid #898E8F;
    background-color: #0A323F;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
  }
}
#search_box {
  margin: auto;
  margin-bottom: 10px;
  input[type="text"], textarea {
    height: 30px;
    width: 280px;
    text-align: center;
    font-size: 12pt;
    color: #BAC5E0;
    background-color : #666A73;
    border: 0px;
    border-color: #0A323F;
    -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);

}
}

#search_btn .btn-info {
  color: #898E8F;
  border: 2px solid #898E8F;
  background-color: #0A323F;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
}

.welcome-wrapper {
  font-size: 11pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .welcome1 {
    margin: 10px;
    padding: 10px;
    max-width: 375px;
    border: 5px solid rgba(0, 55, 64, 0.69);
    background-color: #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    -moz-box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);
    box-shadow: inset 0px 0px 21px 1px rgba(5,5,5,0.4);

    header {
      font-size: 14pt;
      text-align: center;
      border-bottom: 2px solid;
    }

    ul {
      margin: 0px;

      li {
        margin-left: 18px;
        list-style-type: square;
      }
    }
  }
}
